/* CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Root colors */
:root{
    --main-color: #78CC6D;
    --secondary-color: #5F85DB;
    --text-color: #F6F4F0;
    --bg-color: #222222;
    --body-bg-color: #2d2d33;
    --border-color: #303030;
    --gradient-start:rgb(26, 26, 26);
    --gradient-end: #0c0c0c;
    --bg-gradient-start: #2d2f31;
    --bg-gradient-end: #272a2e;
}

/* light mode color */
:root.light-mode{
    --main-color: #78CC6D;
    --secondary-color: #5F85DB;
    --text-color: #222222;
    --bg-color: #ebebeb;
    --body-bg-color: #dadada;
    --border-color: #e0e0e0;
    --gradient-start:rgb(255, 255, 255);
    --gradient-end: #ececec;
    --bg-gradient-start: rgba(255, 255, 255);
    --bg-gradient-end: #dbdbdb;
}
body{
    color: var(--text-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gradient-end)) !important;
    background-attachment: fixed;
}
.bg-gredient{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
}
/* Main */
.main-container{
    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-gap: 10px;
    align-items: start;
}
.menu-profile{
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px;
    position: auto;
    top: 10%;
}
header{
    width: 100%;
    position: relative;
    z-index: 2;
}
header,
header ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header ul{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    width: max-content;
}
header ul li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
    transition: all ease 0.2s;
}
header ul li a::after{
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header ul li a::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-color: transparent var(--main-color) transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul li a:hover::before,
header nav ul li a:hover::after{
    opacity: 1;
    visibility: visible;
}
.dark-light-btn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.dark-light-btn:hover,
header ul li a:hover,
header ul li a.active{
    color: var(--main-color);
}

/* Profile Container */
.profile-container{
    height: 100%;
    position: relative;
}
.user-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0px 30px 30px;
}
.user-profile-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}
.user-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 15px;
}
.user-profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.user-profile-text span{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem;
}
.user-profile-text h1{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0px;
}
.user-profile-btns a:hover{
    color: var(--bg-color);
}
.user-profile-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-top: 1px solid var(--border-color);
    width: 100%;
}
.user-profile-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.user-profile-btns a:first-child{
    border-right: 1px solid var(--border-color);
}
.section-container{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
}
.all-content{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}

 /* About me */
#about-me{
    border-radius: 0px 30px 0px 0px;
    padding: 85px 50px;
}
#about-me h3{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.45rem;
}
#about-me h3 span{
    color: var(--main-color);
}
#about-me h1{
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 500;
    margin: 10px 0px;
    max-width: 700px;
}
/* Skills*/
.section-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-heading span{
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-heading h3{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 6px;
}
.skill-box-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-top: 40px;
    width: 100%;
}
.skill-box{
    border: 1px solid var(--border-color);
    padding: 30px;
    border-radius: 10px;
}
.skill-box-content{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 10px;
}
.skill-box-content i{
    color: var(--main-color);
    font-size: 2rem;
}
.skill-box-content span{
    color: var(--text-color);
    font-weight: 500;
}   
/* work and education */
.edu-work-container{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-gap: 30px;
    margin-top: 50px;
}
.edu-work-label{
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid var(--border-color);
    margin-left: 20px;
}
.edu-work-box-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
    margin-top: 10px;
    padding-left: 10px;
    position: relative;
}
.edu-work-box{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    background-color: var(--bg-color);
    position: relative;
    border: 1px solid var(--border-color);
}
.edu-work-box-container::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: calc(100% - 50px);
    background-color: var(--border-color);
}
.edu-work-box::after{
    content: ' ';
    position: absolute;
    left: -15px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.6;
}
.edu-work-box .edu-work-year{
    color: var(--main-color);
    font-size: 0.9rem;
}
.edu-work-box strong{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}
.edu-work-location{
    font-size: 0.8rem;
    color: var(--text-color);
    opacity: 0.6;
}
.edu-work-box p{
    color: var(--text-color);
    margin-top: 10px;
    font-size: 0.8rem;
}
/* Contact */
#contact{
    border-radius: 0px 0px 30px 0px;
    
}
.contact-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    grid-gap: 20px;
}
.contact-box{
    border-radius: 10px;
    padding: 25px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-box-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 10px;
}
.contact-box-icon i{
    font-size: 1.6rem;
    color: var(--main-color);
}
.contact-box-icon strong{
    color: var(--text-color);
    opacity: 0.8;
    font-weight: 500;
    font-size: 1rem;
}
.contact-box span{
    color: var(--text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
}
.contact-box-location{
    grid-column: 1/3;
}
.contact-map{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--bg-color);
    margin-top: 30px;
    filter: grayscale(0.2);
}
.contact-map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Responsive */
@media (max-width:1170px){
    .main-container{
        grid-template-columns: 1fr;
    }
    .main-profile{
        position: static;
    }
    .user-profile-img{
        min-height: 500px;
    }
    .menu-profile{
        grid-template-columns: 1fr;
    }
    nav{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-gap: 10px;
        align-items: baseline;
        max-width: 600px;
        margin: auto;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        padding: 5px;
        box-shadow: 2px 2px 30px rgb(235, 235, 235, 0.12);
    }
    header nav ul li a::after,
    header nav ul li a::before{
        display: none;
    }
    .dark-light-btn{
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px 30px var(--border-color);
    }
}
@media(max-width:790px){
    .project-container-about{
        grid-template-columns: 1fr 1fr;
    }
    .skill-box-container,
    .project-container,
    .edu-work-container,
    .contact-box-container{
        grid-template-columns: 1fr;
    }
    .contact-box-location{
        grid-column: 1/2;
    }
}
@media(max-width:520px){
    .main-container {
        margin: 20px auto;
    }
    .project-container-about{
        grid-template-columns: 1fr;
    }
    .user-profile-img{
        min-height: auto;
    }
    .user-profile-container{
        padding: 30px;
    }
    .section-container,
    #about-me{
        padding: 30px 20px;
    }
    #about-me h3,
    #about-me h3 span{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 34px;
    }
    #about-me h1,
    #about-me h1 span{
        font-size: 2.8rem;
    }
    .project-container-about{
        grid-gap: 15px;
    }
    .project-container-box{
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    .project-container-box span{
        font-size: 2.8rem;
    }
    .section-heading h3{
        font-size: 1.6rem;
    }
    .contact-box{
        flex-wrap: wrap;
        grid-gap: 15px;
    }
}